<%= form_for(@record,html: { multipart: true }) do |f| %>
  <%# the below code is for the form update alerts %>
  <% if record.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3><%= pluralize(record.errors.count, "error") %> prohibited this record from being saved:</h3>

      <ul>
      <% record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%#the below code means that no error message will display unless the user displays invalid data %>
            <div id="stripe_error" class="alert alert-danger" style="display:none">
              <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
            </div>
 <div class="form-group">
    <%= f.label :Title %>
    <%= f.text_field :Title, class: "form-control"%>
  </div>

 <div class="form-group">
    <%= f.label :Label %>
    <%= f.text_field :Label, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Format %>
    <%= f.text_area :Format, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Country %>
    <%= f.text_field :Country, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Released %>
    <%= f.text_field :Released, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Genre %>
    <%= f.text_field :Genre, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :Tracklist %>
    <%= f.text_area :Tracklist, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :Condition %>
    <%= f.text_field :Condition, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Original_Price %>
    <%= f.text_field :Original_Price, class: "form-control" %>
  </div>

 <div class="form-group">
    <%= f.label :Selling_Price %>
    <%= f.text_field :Selling_Price, class: "form-control" %>
  </div>

   <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
    <br>
    <h1>Bank account details</h1>

    </hgroup>

    <div class="form-group">
      <%= label_tag :country %>
      <%= text_field_tag :country, nil, { :name => nil, :'data-stripe' => "country", class: "form-control" }%>
      </div>

      <div class="form-group">
        <%= label_tag :routing_number %>
        <%= text_field_tag :routing_number, nil, { :name => nil, :'data-stripe' => "routingNumber", class: "form-control" }%>
        </div>

        <div class="form-group">
          <%= label_tag :account_number %>
          <%= text_field_tag :routing_number, nil, { :name => nil, :'data-stripe' => "accountNumber", class: "form-control" }%>
          </div>

  <div class="actions">
    <%= f.submit class:"btn btn-primary" %>
  </div>
<% end %>
