

<div class="row">
  <%# the ruby code below loops through the record listings properties. and displays it in a
  bootstrap thumb nail / grid system. there should be 4 records accross using "col-md-3"%>
  <% @records.each do |record| %>
    <div class="col-md-3">
      <div class="thumbnail">
<%#the below code is a combination of the below links. when i click on the image it will redirect me to the
record listing page%>
        <%= link_to image_tag(record.image.url), record %>
          <div class="caption">
            <h3><%= record.Title %><br></h3>
            <%= "Label : #{record.Label }"%><br>
            <%= "Record Format: #{record.Format}" %><br>
            <%= "Condition : #{record.Condition}"%><br>
            <%= "Price : #{record.Selling_Price }"%><br>
            <%#the below code allows your name to be attached with the record %>
            <%= "Seller : #{record.user.name}" %><br>
          </div>
        </div>
      </div>

    <% end %>
</div>

  <%#the below code allows you to only be allowed to create a listing if you are signed into the application %>
<% if (user_signed_in?)%>
<%= link_to 'New Record', new_record_path, class: "btn btn-success" %> <br>
<% end %>
