<%# the below is my seller page. I have created a HTML table to display the content
    which will make it different to the home page.%>

<h1>Manage listings page</h1>
  <table class="table table-bordered table-hover table-striped">
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Label</th>
    <th>Format</th>
    <th>Condition</th>
    <th>Price</th>
    <th>Actions</th>
  </tr>

    <% @records.each do |record| %>
    <tr>
      <td><%= image_tag record.image.url(:thumb)%></td>
      <td><%= record.Title %></td>
      <td><%= record.Label %></td>
      <td><%= record.Format %></td>
      <td><%= record.Condition %></td>
      <td><%= record.Selling_Price %> </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
            <span class="caret"></span>
          </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a><%= link_to 'show', record , class: "btn btn-link"%> </a></li>
    <li><a><%= link_to 'Edit', edit_record_path(record), class: "btn btn-link" %> </a></li>
    <li><a><%= link_to 'Destroy', record, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-link" %> </a></li>
  </ul>
</div>

      </td>
    </tr>
<%end%>
</table>


  <%#the below code allows you to only be allowed to create a listing if you are signed into the application %>
<% if (user_signed_in?)%>
<%= link_to 'New Record', new_record_path, class: "btn btn-success",data: {no_turbolink: true} %> <br>
<% end %>
