
<!-- the below line of code shows how i set up the show page. I used a two colum bootstrap layout
simular to the index page. This time i just used two colums -->
<div class="row">
  <div class="col-md-6">
  <div class= "thumbnail">
    <%= image_tag @record.image.url%>
  </div>
  </div>
  <div class="col-md-6">
    <strong>Title:</strong>
      <%= @record.Title %><br><br>
    <strong>Label:</strong>
      <%= @record.Label %><br><br>
    <strong>Format:</strong>
      <%= @record.Format %><br><br>
    <strong>Country:</strong>
      <%= @record.Country %><br><br>
      <strong>Released:</strong>
      <%= @record.Released %><br><br>
    <strong>Genre:</strong>
      <%= @record.Genre %><br><br>
    <strong>Tracklist:</strong>
      <%= @record.Tracklist %><br><br>
    <strong>Condition:</strong>
      <%= @record.Condition %><br><br>
    <strong>Original price:</strong>
      <%= @record.Original_Price %><br><br>
    <strong>Selling price:</strong>
      <%= @record.Selling_Price %><br><br>
      <br>
      <%= link_to "Buy it now", new_record_order_path(@record), class:"btn btn-primary", data: {no_turbolink: true}%>
      <%= link_to "write a review", new_record_review_path(@record), class:"btn btn-primary"%>
</div>
</div>
<%# like the index page i added user permissions so only the signed in user can edit a listing%>
<% if current_user == @record.user %>
  <%= link_to 'Edit', edit_record_path(@record),class: "btn btn-info" %> |
  <% end %>
<%= link_to 'Back', records_path, class: "btn btn-warning" %> <br><br>
